.race-hero {
  height: 70vh;
  background: url("../assets/australia.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.race-hero-overlay {
  background: rgba(0,0,0,0.65);
  padding: 60px;
  border-radius: 20px;
  text-align: center;
}

.race-hero-overlay h1 {
  font-size: 4.8rem;
}

.hero-countdown {
  font-size: 4.3rem;
  color: #ffd700;
}

.race-container {
  max-width: 1200px;
  margin: auto;
  padding: 80px 30px;
}
