/* css/style.css */
body {
  margin:0;
  font-family:system-ui,sans-serif;
  background:#000;
  color:#fff;
}

header nav a {
  -webkit-tap-highlight-color: transparent;
}

/* Header F1 style */
header nav a {
  padding:10px;
  background:#000;
  border:2px solid red;
  border-radius:14px;
  color:#fff;
  font-weight:700;
  flex:1;
  text-align:center;
  transition: all .2s;
}

header nav a:hover {
  box-shadow:0 0 12px #ff2a2a;
}

header nav a.active {
  box-shadow:0 0 16px #ff2a2a;
}

/* Hero */
#hero {
  max-width:420px;
  margin:0 auto;
  padding:12px;
  border:2px solid #fff;
  border-radius:14px;
}

#hero-image {
  width:100%;
  border-radius:14px;
}

/* Race cards */
#race-cards {max-width:420px; margin:0 auto; padding:8px;}

.race-card {
  border:2px solid red;
  border-radius:14px;
  margin-bottom:14px;
}

.race-card img {
  width:100%;
  border-radius:14px;
}

/* Accordion */
.race-details.hidden {display:none;}
