body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   HEADER GLOBAL
========================= */

.site-header {
  text-align: center;
  padding: 40px 20px 30px;
  background: #000;
}

.site-header h1 {
  font-size: 4.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.nav-btn {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 14px 24px;
  border-radius: 10px;
}

.nav-btn:hover {
  background: #e10600;
}

/* =========================
   HOME
========================= */

.next-race {
  text-align: center;
  padding: 60px 20px;
}

#countdown,
#race-countdown {
  font-size: 4rem;
  margin: 25px 0;
  color: #e10600;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 18px 30px;
  background: #e10600;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 12px;
}

/* =========================
   LISTA CORRIDAS
========================= */

#race-list {
  list-style: none;
  padding: 40px;
  text-align: center;
}

#race-list li {
  margin: 14px 0;
  font-size: 2rem;
}

/* =========================
   FOOTER
========================= */

.site-footer {
  text-align: center;
  padding: 40px 20px;
  opacity: 0.6;
}
